.accordion {
  list-style: none;
}

.accordion,
.accordion li,
.accordion li a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
}

.accordion li a {
  display: block;
  position: relative;
  padding: 1em;
  background: dimgray;
  color: #fdfdfd;
  font: bold 1.0em Verdana, sans-serif;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);
  opacity: .75;
}

.accordion li > .sub-content {
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion li:target > .sub-content {
  height: auto;
}

.sub-content {
  background: dimgray;
  font: 1.0em Verdana, sans-serif;
  opacity: .5;
}

.sub-content .content {
  padding: 1.5em;
  color: #fdfdfd;
}

.sub-content ul {
  padding-left: 1.5em;
}
