.slide-menu-handle {
  display: block;
  position: absolute;
  width: 2.0em;
  height: 100%;
  background: #2f2f2f;
  color: white;
  text-decoration: none;
  text-align: center;
}

.slide-menu-handle.slide-left {
  right: 30%;
}

.slide-menu-handle.slide-right {
  left: 30%;
}

.slide-menu-handle-left {
  left: 0;
}

.slide-menu-handle-right {
  right: 0;
}

.slide-menu {
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 9001;
  background: gainsboro;
}

.slide-menu-vertical {
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 9001;
}

.slide-menu-left {
  left: -30%;
}

.slide-menu-right {
  right: -30%;
}

.slide-menu-left.open {
  left: 0;
}

.slide-menu-right.open {
  right: 0;
}
