@media screen and (orientation: landscape) {
  $menu-width: 30%;
  $handle-size: 3em;
  
  #about-menu-toggle, #configuration-menu-toggle {
    display: none;
  }

  #about-menu-handle {
    left: 0;
  }
  
  #configuration-menu-handle {
    right: 0;
  }
  
  #about-menu-container {
    left: -$menu-width;
  }

  #configuration-menu-container {
    right: -$menu-width;
  }

  #about-menu-toggle:checked {
    & ~ #about-menu-handle {
      left: $menu-width;
    }

    & ~ #about-menu-container {
      left: 0;
    }
  }

  #configuration-menu-toggle:checked {
    & ~ #configuration-menu-handle {
      right: $menu-width;
    }

    & ~ #configuration-menu-container {
      right: 0;
    }
  }

  .sliding-menu-handle {
    display: block;
    position: absolute;
    width: $handle-size;
    height: 100%;
    background: #2f2f2f;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .sliding-menu-container {
    position: fixed;
    top: 0;
    width: $menu-width;
    height: 100%;
    z-index: 9001;
    background: gainsboro;
  }
}

@media screen and (orientation: portrait) {
  $menu-width: 100%;
  $handle-size: 4em;

  #about-menu-toggle, #configuration-menu-toggle {
    display: none;
    visibility: hidden;
  }

  #about-menu-handle {
    top: 0;
  }
  
  #configuration-menu-handle {
    bottom: 0;
  }
  
  #about-menu-container {
    top: -$menu-width;
  }

  #configuration-menu-container {
    bottom: -$menu-width;
  }

  #about-menu-toggle:checked {
    & ~ #about-menu-handle {
      top: auto;
      bottom: $handle-size;
    }

    & ~ #about-menu-container {
      top: 0;
      bottom: 8em;
    }
  }

  #configuration-menu-toggle:checked {
    & ~ #configuration-menu-handle {
      top: $handle-size;
      bottom: auto;
    }

    & ~ #configuration-menu-container {
      top: 8em;
    }
  }

  .sliding-menu-handle {
    display: block;
    position: absolute;
    width: $menu-width;
    height: $handle-size;
    background: #2f2f2f;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .sliding-menu-container {
    position: fixed;
    width: $menu-width;
    z-index: 9001;
    background: gainsboro;
  }
}
