$menu-width: 30%;

.slide-menu-handle {
  display: block;
  position: absolute;
  width: 2.0em;
  height: 100%;
  background: #2f2f2f;
  color: white;
  text-decoration: none;
  text-align: center;
}

.slide-menu-handle-left {
  left: 0;

  &.open {
    left: $menu-width;
  }
}

.slide-menu-handle-right {
  right: 0;

  &.open {
    right: $menu-width;
  }
}

.slide-menu {
  position: fixed;
  top: 0;
  width: $menu-width;
  height: 100%;
  z-index: 9001;
  background: gainsboro;
}

.slide-menu-vertical {
  top: 0;
  width: $menu-width;
  height: 100%;
  z-index: 9001;
}

.slide-menu-left {
  left: -$menu-width;

  &.open {
    left: 0;
  }
}

.slide-menu-right {
  right: -$menu-width;

  &.open {
    right: 0;
  }
}
